@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));

}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

input, select, textarea {
  font-size: 16px;
}

.hide-scroll-bar {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;     /* Firefox */
}

.hide-scroll-bar::-webkit-scrollbar {
  display: none; /* WebKit */
}

html, body {
  touch-action: none;
  -ms-touch-action: none;
  overscroll-behavior: none;
}

.swiper {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}

.circle {
  position: relative;
  width: 200px;
  height: 200px;
  border-radius: 100vmax;
  display: flex;
  align-items: center;
  justify-content: center;
}

.animateLogo {
  position: absolute;
  width: 150px;
  height: 150px;
  background-size: cover;
  border-radius: 100vmax;
  background-position: center;
}

.animateText {
  position: absolute;
  width: 100%;
  height: 100%;
  font-family: consolas, monospace;
  color: #000;
  font-size: 18px;
  line-height: 12px;
  animation: textRotation 8s linear infinite;
}

@keyframes textRotation {
  to {
    transform: rotate(360deg);
  }
}

.animateText span {
  position: absolute;
  left: 50%;
  font-size: 1.2em;
  transform-origin: 0 100px; /* Center of rotation */
}


